.wrapper {
  display: flex;
  flex-direction: column;
}

.error {
  border: red 1px solid;
}

.error_message {
  color: red;
}

.active_btn {
  background-color: aquamarine;
}

.tasks {
  padding-inline-start: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}